:root {
    --Body-color: #333;
    --Headers-color: #2B2D42;
    --Primary-color: #D10024;
    --Dark-color: #15161D;
    --Dark-2: #1E1F29;
    --Grey: #E4E7ED;
    --Grey-2: #FBFBFC;
    --Grey-3: #8D99AE;
    /* --Grey-4: #B9BABC; */
    --Grey-4: #f5f5f5;

}

body {
    position: relative;
}

.heading-admin {
    color: var(--Grey-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem !important;
}

.admin-header .heading-h3 {
    color: var(--Headers-color);
    padding: 2rem 0;
}

.admin-header {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2rem;
}

.all-orders {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

.register-new-product {
    padding: 1.4rem 2rem;
    display: flex;
    align-items: center;

    gap: 0.5rem;
    font-size: inherit;
    font-weight: 600;
    font-size: inherit;
    background-color: var(--Primary-color);
    color: var(--Grey-2);
    border-radius: 5rem;
}

.create-category {
    padding: 1.4rem 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: inherit;
    font-weight: 600;
    font-size: inherit;
    background-color: var(--Grey);
    color: var(--Dark-2);
    border-radius: 5rem;
    box-shadow: inset 0 0 0 1px var(--Primary-color);
}

.search-input-div-admin {
    width: 100%;
    display: flex;
    gap: 1rem;
    border: 1px solid var(--Grey-4);
    margin-top: 4rem;
    padding: 1.4rem;
    align-items: center;
    border-radius: 5rem;
    background-color: var(--Grey);

}

.admin-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 9rem;
}

.product-box-admin img {
    width: 100%;

}

.product-box-admin {
    border: 1px solid var(--Grey);
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

.product-admin-content {
    padding: 2rem;
    background-color: var(--Grey-4);
    flex-direction: column;
    align-items: center !important;
    gap: 0.5rem;
}



.product-admin-name {
    text-transform: uppercase;
    color: grey;
    font-weight: 600;
    font-size: 2rem;
}

.product-admin-price {
    font-weight: 600;
    color: var(--Dark-color);
    font-size: 2rem;
}

.admin-product-action {
    position: absolute;
    bottom: -10rem;
    left: 0;
    background-color: var(--Primary-color);
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    color: var(--Grey-2);
    transition: all 0.3s ease-in-out;
    padding: 2rem;
}

.product-box-admin:hover .admin-product-action {
    bottom: 0;
}

.admin-product-action button {
    background: none;
    color: var(--Grey-2);
    font-size: 2.4rem;
}

.admin-product-action button:active {
    transform: scale(90%);
}


/*  */
.add-new-product-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 9999999;
    background-color: #00000073;
    padding: 0 2rem;
}

.add-new-product-container::-webkit-scrollbar {
    max-width: 0;
}

.new-product-form-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
}

.add-new-product-form {
    background-color: var(--Grey-2);
    padding: 2rem;
    max-width: 50rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: 6rem auto;
}

.heading-h4 {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    display: flex;
    justify-content: space-between;
}

.add-new-product-form div {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add-new-product-form input,
.add-new-product-form textarea {
    padding: 1rem;
    border: 1px solid var(--Grey);
    font-size: inherit;
    font-family: inherit;
}

.add-new-product-form input:focus,
.add-new-product-form textarea:focus {
    outline: none;
}

.upload-img {
    position: relative;
}

.container-upload {
    margin: 3rem 0;
}

.container-upload .upload-flex div {
    width: 10rem;
    height: 10rem;
    border: 1px solid var(--Grey);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.upload-flex {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.container-upload div input[type=file] {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.upload-flex img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.btn-confirm-add-product {
    padding: 1.4rem;
    font-size: inherit;
    font-weight: 600;
    color: var(--Grey-2);
    background-color: var(--Primary-color);
    border-radius: 5rem;
}

.hidden {
    display: none !important;
}

.product-detail-admin-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    overflow: scroll;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.603);
    background-attachment: fixed;

}

.product-detail-admin-container::-webkit-scrollbar {
    max-width: 0;
}

.overlay-product-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;

}

.product-admin-detail {
    background-color: var(--Grey-2);
    max-width: 65rem;
    margin: 8rem auto;
    position: relative;
}

.product-admin-detail img {
    width: 100%;
}

.product-admin-detail {
    border-radius: 1rem;
    padding: 2rem;

}

.btn-close-product-detail {
    cursor: pointer;
}

.product-admin-detail .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.product-img-box {
    display: grid;
    position: relative;
}

.product-img-box button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn-prev-product-img {
    left: 0;

}

.btn-next-product-img {
    right: 0 !important;
}

.product-detail-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-rating svg {
    width: 1.8rem;
    color: var(--Primary-color);
    fill: var(--Primary-color);
}

.product-admin-price {
    font-size: 2.4rem;
    color: var(--Primary-color);
}

.product-admin-name {
    color: var(--Headers-color);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-description-admin {
    line-height: 1.5;
    font-size: 1.4rem;
}