:root {
    --Body-color: #333;
    --Headers-color: #2B2D42;
    --Primary-color: #D10024;
    --Dark-color: #15161D;
    --Dark-2: #1E1F29;
    --Grey: #E4E7ED;
    --Grey-2: #FBFBFC;
    --Grey-3: #8D99AE;
    --Grey-4: #f5f5f5;
}

.section-heading {
    background-color: var(--Grey-4);
    padding: 2rem;
    margin-bottom: 6rem;
    border-bottom: 1px solid var(--Grey);
}

.heading-sec-tag {
    text-transform: uppercase;
    color: var(--Primary-color);
    font-weight: 600;
}

.product-grid-2 {
    display: grid;
    /* grid-template-columns: 1fr 2.5fr; */
}

.product-categories {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    margin-bottom: 6rem;
}

.product-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.sub-heading {
    font-weight: 600;
    font-size: 2.4rem;
    color: var(--Headers-color);
    margin-bottom: 3rem;
    display: inline-block;
}

.category-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.category-list li {
    display: flex;
    align-items: center;
    color: var(--Grey-3);
    gap: 0.5rem;
}

.category-list .category-name {
    color: var(--Dark-color);
    font-weight: 600;
}

.total-products {
    color: var(--Grey-3);
    font-weight: 500;
}

.products-most-selled .most-selled-product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
}

.product-grid-3-cl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-bottom: 6rem;
}

.product-pagination {
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 9rem;

}

.product-pagination button {
    background: none;
    padding: 1rem;
    border: 1px solid var(--Primary-color);
    display: flex;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
}

.product-pagination button:hover {
    background: var(--Primary-color);
    color: var(--Grey-2);

}

.current-page {
    background: var(--Primary-color);
    padding: 1rem;
    width: 4rem;
    border: 2px solid var(--Primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.8rem;
    color: var(--Grey-2);
    font-size: inherit;
}