:root {
    --Body-color: #333;
    --Headers-color: #2B2D42;
    --Primary-color: #D10024;
    --Dark-color: #15161D;
    --Dark-2: #1E1F29;
    --Grey: #E4E7ED;
    --Grey-2: #FBFBFC;
    --Grey-3: #8D99AE;
    /* --Grey-4: #B9BABC; */
    --Grey-4: #f5f5f5;

}

body {
    position: relative;
}

.heading-admin {
    color: var(--Grey-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem !important;
}

.admin-header .heading-h3 {
    color: var(--Headers-color);
    padding: 2rem 0;
}

.admin-header {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2rem;
}

.all-orders {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

.register-new-product {
    padding: 1.4rem 2rem;
    display: flex;
    align-items: center;

    gap: 0.5rem;
    font-size: inherit;
    font-weight: 600;
    font-size: inherit;
    background-color: var(--Primary-color);
    color: var(--Grey-2);
    border-radius: 5rem;
}

.create-category {
    padding: 1.4rem 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: inherit;
    font-weight: 600;
    font-size: inherit;
    background-color: var(--Grey);
    color: var(--Dark-2);
    border-radius: 5rem;
    box-shadow: inset 0 0 0 1px var(--Primary-color);
}

.search-input-div-admin {
    width: 100%;
    display: flex;
    gap: 1rem;
    border: 1px solid var(--Grey-4);
    margin-top: 4rem;
    padding: 0 1.4rem;
    align-items: center;
    border-radius: 5rem;
    background-color: var(--Grey);
    height: 5rem;
    overflow: hidden;

}

.search-input-div-admin input {
    width: 100%;
    height: 100%;
    padding: 1.4rem;
    background: none;
    font-size: 1.8rem;
}

.search-input-div-admin input:focus {
    outline: none;
}

.admin-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 9rem;
}

.product-box-admin img {
    width: 100%;

}

.product-box-admin {
    border: 1px solid var(--Grey);
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 2fr 0.7fr;
}

.product-admin-content {
    padding: 2rem;
    background-color: var(--Grey-4);
    flex-direction: column;
    align-items: center !important;
    gap: 0.5rem;
}

.product-admin-name {
    text-transform: uppercase;
    color: grey;
    font-weight: 600;
    font-size: 2rem;
}

.product-admin-price {
    font-weight: 600;
    color: var(--Dark-color);
    font-size: 2rem;
}

.admin-product-action {
    position: absolute;
    bottom: -10rem;
    left: 0;
    background-color: var(--Primary-color);
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    color: var(--Grey-2);
    transition: all 0.3s ease-in-out;
    padding: 2rem;
}

.product-box-admin:hover .admin-product-action {
    bottom: 0;
}

.admin-product-action button {
    background: none;
    color: var(--Grey-2);
    font-size: 2.4rem;
}

.admin-product-action button:active {
    transform: scale(90%);
}

/* criar categoria */
.create-category-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.603);
    z-index: 99999999999;
    color: var(--Dark-2) !important;
    padding: 2rem;
}

.overlay-category {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.create-category-form {
    background: var(--Grey-2);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.f-header {
    display: flex;
    flex-direction: column;
}

.btn-close-category-form {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
}

.form-category-header {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--Headers-color);
}

.btn-create-category {
    padding: 1.4rem;
    font-size: inherit;
    background-color: var(--Primary-color);
    color: #fff;
    border-radius: 5rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-create-category:active {
    transform: scale(95%);
}

/* ADICIONAR PRODUCTO */
.add-new-product-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 9999999;
    background-color: #00000073;
    padding: 0 2rem;
}

.add-new-product-container::-webkit-scrollbar {
    max-width: 0;
}

.new-product-form-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
}

.add-new-product-form,
.update-product-form {
    background-color: var(--Grey-2);
    padding: 2rem;
    max-width: 50rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: 6rem auto;
}

.heading-h4 {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    display: flex;
    justify-content: space-between;
}

.add-new-product-form div,
.update-product-form div {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add-new-product-form input,
.add-new-product-form textarea,
.add-new-product-container select,
.update-product-form input,
.update-product-form textarea {
    padding: 1rem;
    border: 1px solid var(--Grey);
    font-size: inherit;
    font-family: inherit;
    background: none;
}

.add-new-product-form input:focus,
.add-new-product-form textarea:focus,
.update-product-form input:focus,
.update-product-form textarea:focus,
.add-new-product-container select:focus {
    outline: none;
}

.upload-img {
    position: relative;
}

.container-upload {
    margin: 3rem 0;
}

.container-upload .upload-flex div {
    width: 10rem;
    height: 10rem;
    border: 1px solid var(--Grey);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.upload-flex {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.container-upload div input[type=file] {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.upload-flex img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.btn-confirm-add-product,
.btn-update-product {
    padding: 1.4rem;
    font-size: inherit;
    font-weight: 600;
    color: var(--Grey-2);
    background-color: var(--Primary-color);
    border-radius: 5rem;
}

.btn-update-product {
    margin-top: 3rem;
}

.hidden {
    display: none !important;
}

.product-detail-admin-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    overflow: scroll;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.603);
    background-attachment: fixed;

}

.product-detail-admin-container::-webkit-scrollbar {
    max-width: 0;
}

.overlay-product-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;

}

.product-admin-detail {
    background-color: var(--Grey-2);
    max-width: 65rem;
    margin: 8rem auto;
    position: relative;
}

.product-admin-detail img {
    width: 100%;
}

.product-admin-detail {
    border-radius: 1rem;
    padding: 2rem;

}

.btn-close-product-detail {
    cursor: pointer;
}

.product-admin-detail .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.product-img-box {
    display: grid;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: hidden;
    height: 30rem;

}

.admin-slide-img {
    position: absolute;
    top: 0;
    left: 0;
    /* position: relative; */
    padding: 2rem;
    width: 100%;
}

/* width: 100%;
    background-color: #D10024;
    position: relative;
} */

.product-img-box button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    top: 50%;
    transform: translateY(-50%);
}

.btn-prev-product-img {
    left: 0;

}

.btn-next-product-img {
    right: 0 !important;
}

.product-detail-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-rating svg {
    width: 1.8rem;
    color: var(--Primary-color);
    fill: var(--Primary-color);
}

.product-admin-price {
    font-size: 2.4rem;
    color: var(--Primary-color);
}

.product-admin-name {
    color: var(--Headers-color);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-description-admin {
    line-height: 1.5;
    font-size: 1.4rem;
}

/* ORDERS */
.orders-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #000000a2;
    z-index: 9999;
    overflow-y: scroll;
    padding: 2rem;
}

.orders-container::-webkit-scrollbar {
    max-width: 0;
}

.order-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.order-grid {
    background-color: #fff;
    max-width: 80rem;
    margin: 20rem auto;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: start;
    gap: 2rem;
    min-height: 50rem;
    max-height: 50rem;
    overflow: hidden;
    color: var(--Dark-2);
    position: relative;
}

.btn-close-order {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.order-detail-box {
    position: relative;
}

.back-to-list-order {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: none;
}

.order-heading {
    font-size: 2rem;
    font-weight: 600;
    color: var(--Headers-color);
    margin-bottom: 1rem;
    display: inline-block;
}

.order-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 38.4rem;
    overflow-y: scroll;
}

.order-list::-webkit-scrollbar {
    width: 5px;
}

.order-list::-webkit-scrollbar-thumb {
    border-radius: 100px;
}

.order-list:hover::-webkit-scrollbar-thumb {
    background-color: var(--Grey);
}

.order-box {
    display: grid;
    grid-template-columns: 1fr 6fr;
    border-radius: 0.5rem;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    padding-bottom: 1rem;
}

.order-box:not(:last-child) {
    border-bottom: 1px solid var(--Grey);
}

.order-box:hover .order-content-box {
    background-color: var(--Grey-4);
}

.order-list-box {
    border-right: 1px solid var(--Grey);
    height: 100%;
    padding: 2rem;
    padding-right: 1rem;
}

.client-initial {
    font-weight: 600;
    background-color: var(--Grey);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-content-box {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.client-name {
    font-weight: 600;
    color: var(--Dark-color);
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.order-date {
    font-size: 1.4rem;
}

.total-articles span {
    font-weight: 600;
}

/* order-detail */

.order-detail-box {
    padding: 2rem;
    padding-left: 1rem;
}

.detail-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detail-group span span {
    font-weight: 600;
}

.group-heading {
    font-weight: 600;
    margin-bottom: 0.5rem;

}

.detail-group:nth-child(1) {
    margin-bottom: 2rem;
}

.order-products-list {
    min-height: 12rem;
    max-height: 12rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.order-products-list::-webkit-scrollbar {
    width: 5px;
}

.order-products-list::-webkit-scrollbar-thumb {
    border-radius: 100px;
}

.order-products-list:hover::-webkit-scrollbar-thumb {
    background-color: var(--Grey-3);
}

.order-product-img {
    width: 6rem;
    height: 6rem;
}

.order-product {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    gap: 1rem;
}

.order-product-content div {
    display: flex;
    justify-content: space-between;
}

.order-total-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

.detail-order-action {
    display: grid;
    grid-template-columns: 6fr 0.5fr;
    gap: 1rem;
}

.detail-order-action button:not(:last-child) {
    padding: 1rem;
    font-size: inherit;
    color: var(--Grey-2);
    border-radius: 5rem;
    background-color: var(--Primary-color);
    cursor: pointer;
}

.detail-order-action button:nth-child(2) {
    background: none;
    color: var(--Primary-color);
    width: 2rem;
    cursor: pointer;
}

.total-product {
    font-weight: 600;
}

.total-product-amount {
    font-weight: 600;
    font-size: 2.2rem;
    color: var(--Primary-color);
}

.order-filter {
    display: flex;
}

.search-order {
    padding: 1rem 1.5rem;
    background-color: var(--Grey-4);
    width: 100%;
    margin-right: 1rem;
    border-radius: 5rem;
    margin-bottom: 1rem;
}

.search-order:focus {
    outline: none;
}

/* MAX-WIDTH 624PX */
@media (max-width:39em) {
    .order-grid {

        min-height: 53rem;
        max-height: 53rem;
    }

    .client-name {
        font-size: 1.4rem;
    }

    .order-date {
        font-size: 1rem;
    }

}

/* MAX-WIDTH 624PX */
@media (max-width:39em) {
    .order-grid {
        min-height: 53rem;
        max-height: 53rem;
    }

    .client-name {
        font-size: 1.4rem;
    }

    .order-date {
        font-size: 1rem;
    }

}

/* MAX-WIDTH 624PX */
@media (max-width:35.7em) {
    .order-grid {
        grid-template-columns: 1fr;
    }

    .client-name {
        font-size: 1.6rem;
    }

}